<div class="container d-flex justify-content-around tamanho">
    <div class="card" style="width: 18rem; ">
        <img src="../../assets/pa.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title container-fluid">Pamonha daora</h5>
          <h4 class="card-title container-fluid">R$59.90</h4>
          <p class="card-text  container-fluid">Pamonha de rei.</p>
            <a (click)="Comprar()" class=" btn btn-primary container-fluid bg-danger ">Comprar</a>
            <div class="container"></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/mon.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  container-fluid">Pamonha mediana</h5>
          <h4 class="card-title container-fluid">R$29.90</h4>
          <p class="card-text  container-fluid">Pamonha de burguês.</p>
            <a (click)="Comprar()" class=" btn btn-primary container-fluid bg-danger">Comprar</a>
            <div class="container"></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/ha.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  container-fluid">Pamonha ruim</h5>
          <h4 class="card-title container-fluid">R$8.90</h4>
          <p class="card-text  container-fluid">Pamonha dos pobre.</p>
            <a (click)="Comprar()" class=" btn btn-primary container-fluid bg-danger">Comprar</a>
            <div class="container"></div>
        </div>
      </div>
</div>
 